*{
    scroll-behavior: smooth;
}

body{
    font: 20px Arial, sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #e6b98c;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(58, 58, 58);
    border-radius: 20px;
    border: 3px solid rgb(58, 58, 58);
}

.navbar {
    background-color: #e6b98c;
    height: 80px;
}

.imgLogo{
    width: 190px;
}

.teste{
    filter: blur(2.5px);
}

.houseLogo{
    position: absolute;
    top:25%;
    left: 35.2%;
    width: 420px;
    height: 200px;
    
    border-radius: 15px;
}

.txtFake{
    color: transparent;
}

.imgFake{
    border: none;
}

.bdcFoto{
    width: 50px;
    height: 50px;
    background-color: #fff;
}

.quem-somos{
    background-image: url("https://www.sebraeatende.com.br/sites/default/files/conteudo-digital/Adega.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.margin{   
    padding-bottom: 50px;    
    padding-top: px;
}

.nameBebidas{
    font-weight: 15pt;
    font-weight: bold;
}

.cards{
    border: none;
}

.parceiros{
    background-image: linear-gradient(rgb(35, 144, 233), #fff);
}

.bg-footer{
    background-image: linear-gradient( #fff, #e6b98c);
}

.footerFake{
    text-decoration: none;
    color: #000;
    outline: none;
}

.footerFake:hover {
    text-decoration: none;
    color: #000;
    outline: none;
}

li {
    margin-top: auto;
    margin-left: auto;
}


